<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img class="d-block w-100" src="img/book1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block content align-items-center flex-column p-4">
                    <h3>Register To Enjoy !! </h3>
                    <p><b>Welcome To Book Mate</b> </p>
                </div>
            </div>

            <div class="carousel-item ">
                <img class="d-block w-100" src="img/book2.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block content ">
                    <h5>By – Mark Twain</h5>
                    <p> <b> “A room without books is like a body without a soul.” </b> </p>
                </div>
            </div>
            <div class="carousel-item ">
                <img class="d-block w-100" src="img/book3.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block content ">
                    <h5>By – Isabel Allende</h5>
                    <p><b>“The library is inhabited by spirits that come out of the pages at night.”</b> </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<!-- Search Bar to search a book-->
<section>
    <div class="container h-100 mt-4">
        <div class="mx-auto d-flex justify-content-center py-5">
            <h3>Search Your Favourite Book </h3>

        </div>

        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fa  fa-search"></i></a>
            </div>
        </div>
        <hr class="w-25 mx-auto pt-5 font-weight-bold">
    </div>
</section>

<!--Card Works Begin -->
<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-12 mb-5 py-3">
                <div class="card">
                    <img class="card-img-top" src="img/book1.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title ">John Doe</h4>
                        <p class="card-text ">Some example text.</p>
                        <a href="# " class="btn " style="background-color: #353b48; color: white; font-size: 18px; ">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>