<div class="container login-container">
    <div class="row text-center d-flex justify-content-center">
        <div class="col-md-6 login-form-1">
            <h3><span><i class="fa fa-registered" style="color: white;"></i></span> Register To Book Mate </h3>

            <!--Remember to give form fields a name so that we can store in database -->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name *" value="" required/>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email *" value="" required/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Password *" value="" required />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Register" />
            </div>
            <div class="form-group">
                <a href="#" class="btnForgetPwd" style="color: red;">Go To Login Page</a>
            </div>

        </div>

    </div>
</div>