<div class="container login-container">
    <div class="row text-center d-flex justify-content-center">
        <div class="col-md-6 login-form-1">
            <h3><span><i class="fa fa-registered" style="color: white;"></i></span> Register To Book Mate </h3>

            <%- include('./partials/alert.ejs') %>
                <!--Remember to give form fields a name so that we can store in database -->
                <form action="/register" method="POST">
                    <div class="form-group">
                        <input type="name" name="name" class="form-control" placeholder="Your Name *" value="" <%=typeof name !='undefined' ? name : '' %> " required/>
                    </div>

                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Your Email *" value="<%= typeof email != 'undefined' ? email : '' %>" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Your Password *" value="<%= typeof password != 'undefined' ? password : '' %>" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Register" />
                    </div>
                    <div class="form-group">
                        <a href="/login" class="btnForgetPwd" style="color: red;">Go To Login Page</a>
                    </div>

                </form>


        </div>

    </div>
</div>